
# configuration file for notebook only
# version >= 26 Dec 25
#### change default fwhm & noise

###
### Simulator parameters
###
# final image size H,W
"fov_pixels": 48
# obs pixel_scale
"pixel_scale": 0.03
# Up sampling
"upsample": 4

"atmos_fwhm": 0.4

"atmos_e": 0.01 
"sigma_defocus": 0.10
"sigma_opt_psf": 0.07
"min_shear": 0.01
"max_shear": 0.05
"opt_obs_min" : 0.1
"opt_obs_width" : 0.4
"lam_ov_d_min" : 0.017
"lam_ov_d_width" : 0.007

#nb. img is normalized in (-1,1)
"sigma_noise_max": 1.0

###
### Unet architecture
###
# For 48x48 grayscale images
# test with 2 blocks & 64 kernels, may be try 3 blocks
#
"archi": "Unet-Full"
"pool_window": 2
"num_blocks": 2
"num_kernels": 64
"num_channels": 1
"kernel_size": 3
"padding": 1
"bias": true
"num_enc_conv": 2
"num_mid_conv": 2
"num_dec_conv": 2

###
### datasets
###
# for /COSMOS_23.5_dataset/"
input_cosmos_dir: "/lustre/fsn1/projects/rech/ixh/ufd72rp/"
input_data_dir: "../"
input_gal_file_list: "list_gal_files_48pix.json"


"models_root_dir": "../models/"
#####"run_tag": "Unet_cosmo_atm"

###
### running
###
#seed [X*]DDMMAAAA
# keep it fixed for all analysis
"seed": 116122025
"num_workers": 10
"checkpoint_file" : "/Unet-Full_last_state.pth"
"history_loss_cpt_file" : "/Unet-Full_last_history.npy"

"loss" : "MSE"

#Take care
n_train : [100, 500, 1000, 5000, 10_000, 20_000, 40_000]
n_swap :  [100, 500, 1000, 5000, 10_000, 20_000] 
# number of validation images (not seen by any models) n_val<=5000
n_val : 1000
